<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="bg-[#F9F7F2] font-sans text-[#2C3E2D]">
      <header class="sticky top-0 z-50 w-full bg-white shadow-md">
        <div
          class="flex h-16 items-center justify-between px-4 transition-all duration-300 lg:h-20 lg:px-10"
        >
          <div class="flex flex-1 items-center">
            <div class="lg:hidden">
              <button class="group ml-2 p-1 lg:hidden">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2.5"
                  stroke="currentColor"
                  class="size-7 text-[#2C3E2D] transition-colors group-hover:text-[#8C5E3C]"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5"
                  />
                </svg>
              </button>
            </div>

            <ul
              class="hidden text-sm font-bold tracking-widest text-[#2C3E2D] uppercase lg:flex lg:items-center lg:gap-8"
            >
              <li class="group relative">
                <a href="#" class="uppercase transition-colors hover:text-[#8C5E3C]">SHOP</a>
                <span
                  class="absolute -bottom-1 left-0 h-0.5 w-0 bg-[#8C5E3C] transition-all duration-300 ease-out group-hover:w-full"
                ></span>
              </li>
              <li class="group relative">
                <a href="#" class="uppercase transition-colors hover:text-[#8C5E3C]">BOXES</a>
                <span
                  class="absolute -bottom-1 left-0 h-0.5 w-0 bg-[#8C5E3C] transition-all duration-300 ease-out group-hover:w-full"
                ></span>
              </li>
              <li class="group relative">
                <a href="#" class="uppercase transition-colors hover:text-[#8C5E3C]">JOURNAL</a>
                <span
                  class="absolute -bottom-1 left-0 h-0.5 w-0 bg-[#8C5E3C] transition-all duration-300 ease-out group-hover:w-full"
                ></span>
              </li>
              <li class="group relative">
                <a href="#" class="uppercase transition-colors hover:text-[#8C5E3C]">ORIGIN</a>
                <span
                  class="absolute -bottom-1 left-0 h-0.5 w-0 bg-[#8C5E3C] transition-all duration-300 ease-out group-hover:w-full"
                ></span>
              </li>
            </ul>
          </div>

          <div class="flex h-full py-4">
            <a href="/" class="flex h-full items-center">
              <span class="sr-only">ROOT Concept Store</span>
              <img
                class="h-8 w-auto object-contain lg:h-12"
                src="../src/assets/logo.png"
                alt="ROOT logo"
              />
            </a>
          </div>

          <div class="flex flex-1 items-center justify-end gap-4 text-[#2C3E2D]">
            <a href="#" class="group relative">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="size-6 transform transition-all duration-300 group-hover:scale-110 group-hover:text-[#8C5E3C]"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                />
              </svg>
              <span
                class="absolute -top-2 -right-2 flex h-4.5 min-w-4.5 items-center justify-center rounded-full bg-[#8C5E3C] px-1 text-[10px] font-bold text-[#F3EFDF] ring-2 ring-[#F3EFDF] transition-transform group-hover:scale-110"
              >
                3
              </span>
            </a>
          </div>
        </div>

        <div class="fixed inset-0 z-60 hidden bg-[#2C3E2D]/40 backdrop-blur-sm"></div>

        <div
          class="fixed top-0 left-0 z-70 h-screen w-75 -translate-x-full bg-white px-8 py-10 shadow-2xl transition-transform duration-500 ease-in-out"
        >
          <div class="flex h-full flex-col">
            <div class="mb-12 flex items-center justify-between text-[#2C3E2D]">
              <button class="transition-transform duration-300 hover:rotate-90 focus:outline-none">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </button>
            </div>

            <nav class="flex-1">
              <ul class="flex flex-col gap-6 text-2xl font-bold text-[#2C3E2D]">
                <li>
                  <a href="#" class="transition-colors hover:text-[#8C5E3C]">SHOP</a>
                </li>
                <li>
                  <a href="#" class="transition-colors hover:text-[#8C5E3C]">BOXES</a>
                </li>
                <li>
                  <a href="#" class="transition-colors hover:text-[#8C5E3C]">JOURNAL</a>
                </li>
                <li>
                  <a href="#" class="transition-colors hover:text-[#8C5E3C]">ORIGIN</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <section class="bg-[#FDFCF8] py-20">
        <div class="container mx-auto px-4">
          <div class="mb-16 flex flex-col gap-8 md:flex-row md:items-end md:justify-between">
            <div>
              <nav
                class="mb-4 flex items-center gap-2 text-[10px] font-bold tracking-widest text-gray-400 uppercase"
              >
                <a href="#" class="hover:text-[#2C3E2D]">Home</a>
                <span>/</span>
                <span class="text-[#8C5E3C]">Shop All</span>
              </nav>
              <h1 class="text-5xl font-bold tracking-tighter text-[#2C3E2D]">The Harvest.</h1>
            </div>

            <div class="no-scrollbar flex gap-3 overflow-x-auto pb-2 md:pb-0">
              <button
                class="rounded-full bg-[#2C3E2D] px-6 py-2 text-xs font-bold whitespace-nowrap text-white shadow-lg"
              >
                All Products
              </button>
              <button
                class="rounded-full border border-[#2C3E2D]/10 bg-white px-6 py-2 text-xs font-bold whitespace-nowrap text-[#2C3E2D] transition-all hover:border-[#2C3E2D]"
              >
                Vegetables
              </button>
              <button
                class="rounded-full border border-[#2C3E2D]/10 bg-white px-6 py-2 text-xs font-bold whitespace-nowrap text-[#2C3E2D] transition-all hover:border-[#2C3E2D]"
              >
                Fruit
              </button>
            </div>
          </div>

          <div class="grid grid-cols-2 gap-x-5 gap-y-12 md:grid-cols-4 md:gap-x-10">
            <div class="group cursor-pointer">
              <div
                class="relative mb-4 aspect-4/5 overflow-hidden rounded-2xl bg-white shadow-sm"
              >
                <span
                  class="absolute top-3 left-3 z-10 rounded-full bg-[#8C5E3C] px-3 py-1 text-[10px] font-bold text-white uppercase shadow-lg"
                  >New</span
                >

                <img
                  src="https://storage.googleapis.com/vue-course-api.appspot.com/root/1766909664377.jpg"
                  alt="Product Name"
                  class="h-full w-full object-cover transition-transform duration-700 group-hover:scale-110"
                />

                <div
                  class="absolute inset-x-0 bottom-0 translate-y-full p-4 transition-transform duration-300 group-hover:translate-y-0"
                >
                  <button
                    class="w-full rounded-xl bg-[#2C3E2D] py-3 text-xs font-bold text-white shadow-xl transition-all hover:bg-[#1a261b] active:scale-95"
                  >
                    ADD TO CART
                  </button>
                </div>
              </div>

              <div class="px-1">
                <h3
                  class="text-sm font-bold text-[#2C3E2D] transition-colors group-hover:text-[#8C5E3C]"
                >
                  Seasonal Fresh Broccoli
                </h3>
                <div class="mt-1 flex items-center justify-between">
                  <p class="text-sm font-medium text-gray-400 italic">500g</p>
                  <p class="font-bold text-[#2C3E2D]">$80</p>
                </div>
              </div>
            </div>
            <div class="group cursor-pointer">
              <div
                class="relative mb-4 aspect-4/5 overflow-hidden rounded-2xl bg-white shadow-sm"
              >
                <span
                  class="absolute top-3 left-3 z-10 rounded-full bg-[#8C5E3C] px-3 py-1 text-[10px] font-bold text-white uppercase shadow-lg"
                  >New</span
                >

                <img
                  src="https://storage.googleapis.com/vue-course-api.appspot.com/root/1766909664377.jpg"
                  alt="Product Name"
                  class="h-full w-full object-cover transition-transform duration-700 group-hover:scale-110"
                />

                <div
                  class="absolute inset-x-0 bottom-0 translate-y-full p-4 transition-transform duration-300 group-hover:translate-y-0"
                >
                  <button
                    class="w-full rounded-xl bg-[#2C3E2D] py-3 text-xs font-bold text-white shadow-xl transition-all hover:bg-[#1a261b] active:scale-95"
                  >
                    ADD TO CART
                  </button>
                </div>
              </div>

              <div class="px-1">
                <h3
                  class="text-sm font-bold text-[#2C3E2D] transition-colors group-hover:text-[#8C5E3C]"
                >
                  Seasonal Fresh Broccoli
                </h3>
                <div class="mt-1 flex items-center justify-between">
                  <p class="text-sm font-medium text-gray-400 italic">500g</p>
                  <p class="font-bold text-[#2C3E2D]">$80</p>
                </div>
              </div>
            </div>
            <div class="group cursor-pointer">
              <div
                class="relative mb-4 aspect-4/5 overflow-hidden rounded-2xl bg-white shadow-sm"
              >
                <span
                  class="absolute top-3 left-3 z-10 rounded-full bg-[#8C5E3C] px-3 py-1 text-[10px] font-bold text-white uppercase shadow-lg"
                  >New</span
                >

                <img
                  src="https://storage.googleapis.com/vue-course-api.appspot.com/root/1766909664377.jpg"
                  alt="Product Name"
                  class="h-full w-full object-cover transition-transform duration-700 group-hover:scale-110"
                />

                <div
                  class="absolute inset-x-0 bottom-0 translate-y-full p-4 transition-transform duration-300 group-hover:translate-y-0"
                >
                  <button
                    class="w-full rounded-xl bg-[#2C3E2D] py-3 text-xs font-bold text-white shadow-xl transition-all hover:bg-[#1a261b] active:scale-95"
                  >
                    ADD TO CART
                  </button>
                </div>
              </div>

              <div class="px-1">
                <h3
                  class="text-sm font-bold text-[#2C3E2D] transition-colors group-hover:text-[#8C5E3C]"
                >
                  Seasonal Fresh Broccoli
                </h3>
                <div class="mt-1 flex items-center justify-between">
                  <p class="text-sm font-medium text-gray-400 italic">500g</p>
                  <p class="font-bold text-[#2C3E2D]">$80</p>
                </div>
              </div>
            </div>
            <div class="group cursor-pointer">
              <div
                class="relative mb-4 aspect-4/5 overflow-hidden rounded-2xl bg-white shadow-sm"
              >
                <span
                  class="absolute top-3 left-3 z-10 rounded-full bg-[#8C5E3C] px-3 py-1 text-[10px] font-bold text-white uppercase shadow-lg"
                  >New</span
                >

                <img
                  src="https://storage.googleapis.com/vue-course-api.appspot.com/root/1766909664377.jpg"
                  alt="Product Name"
                  class="h-full w-full object-cover transition-transform duration-700 group-hover:scale-110"
                />

                <div
                  class="absolute inset-x-0 bottom-0 translate-y-full p-4 transition-transform duration-300 group-hover:translate-y-0"
                >
                  <button
                    class="w-full rounded-xl bg-[#2C3E2D] py-3 text-xs font-bold text-white shadow-xl transition-all hover:bg-[#1a261b] active:scale-95"
                  >
                    ADD TO CART
                  </button>
                </div>
              </div>

              <div class="px-1">
                <h3
                  class="text-sm font-bold text-[#2C3E2D] transition-colors group-hover:text-[#8C5E3C]"
                >
                  Seasonal Fresh Broccoli
                </h3>
                <div class="mt-1 flex items-center justify-between">
                  <p class="text-sm font-medium text-gray-400 italic">500g</p>
                  <p class="font-bold text-[#2C3E2D]">$80</p>
                </div>
              </div>
            </div>
            <div class="group cursor-pointer">
              <div
                class="relative mb-4 aspect-4/5 overflow-hidden rounded-2xl bg-white shadow-sm"
              >
                <span
                  class="absolute top-3 left-3 z-10 rounded-full bg-[#8C5E3C] px-3 py-1 text-[10px] font-bold text-white uppercase shadow-lg"
                  >New</span
                >

                <img
                  src="https://storage.googleapis.com/vue-course-api.appspot.com/root/1766909664377.jpg"
                  alt="Product Name"
                  class="h-full w-full object-cover transition-transform duration-700 group-hover:scale-110"
                />

                <div
                  class="absolute inset-x-0 bottom-0 translate-y-full p-4 transition-transform duration-300 group-hover:translate-y-0"
                >
                  <button
                    class="w-full rounded-xl bg-[#2C3E2D] py-3 text-xs font-bold text-white shadow-xl transition-all hover:bg-[#1a261b] active:scale-95"
                  >
                    ADD TO CART
                  </button>
                </div>
              </div>

              <div class="px-1">
                <h3
                  class="text-sm font-bold text-[#2C3E2D] transition-colors group-hover:text-[#8C5E3C]"
                >
                  Seasonal Fresh Broccoli
                </h3>
                <div class="mt-1 flex items-center justify-between">
                  <p class="text-sm font-medium text-gray-400 italic">500g</p>
                  <p class="font-bold text-[#2C3E2D]">$80</p>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-20 flex justify-center">
            <button
              class="flex items-center gap-4 border-b-2 border-[#2C3E2D] pb-2 text-sm font-bold tracking-widest text-[#2C3E2D] transition-all hover:gap-6"
            >
              LOAD MORE HARVEST
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                />
              </svg>
            </button>
          </div>
        </div>
      </section>

      <footer class="bg-[#2C3E2D] py-12 text-white/90 md:py-16">
        <div class="container mx-auto px-4">
          <div class="mb-12 grid grid-cols-2 gap-x-8 gap-y-10 md:grid-cols-4 md:gap-12">
            <div class="col-span-2 md:col-span-1">
              <h2 class="mb-4 text-2xl font-bold tracking-tighter text-white">ROOT</h2>
              <p class="mb-6 hidden text-sm leading-relaxed text-white/60 italic md:block">
                Eat Real, Live Rooted.<br />
                Honoring the Earth’s generosity through whole, real food.
              </p>
              <p class="mb-4 text-xs text-white/50 italic md:hidden">Eat Real, Live Rooted.</p>

              <div class="flex gap-4 text-sm">
                <a href="#" class="transition-colors hover:text-[#8C5E3C]">Instagram</a>
                <a href="#" class="transition-colors hover:text-[#8C5E3C]">Facebook</a>
              </div>
            </div>

            <div class="col-span-1">
              <h4
                class="mb-4 text-[10px] font-bold tracking-widest text-white uppercase md:mb-6 md:text-xs"
              >
                Collections
              </h4>
              <ul class="space-y-3 text-sm text-white/60 md:space-y-4 md:text-white/90">
                <li>
                  <a href="#" class="inline-block transition-transform hover:translate-x-1">
                    <span class="hidden md:inline">Curated </span>Bundles
                  </a>
                </li>
                <li>
                  <a href="#" class="inline-block transition-transform hover:translate-x-1">
                    <span class="hidden text-white/40 md:inline">Earth's </span>Greens
                  </a>
                </li>
                <li class="hidden md:block">
                  <a href="#" class="inline-block transition-transform hover:translate-x-1"
                    >Seasonal Fruits</a
                  >
                </li>
                <li>
                  <a href="#" class="inline-block transition-transform hover:translate-x-1">
                    <span class="md:hidden">Pins</span>
                    <span class="hidden md:inline">Little Harvests</span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-span-1">
              <h4
                class="mb-4 text-[10px] font-bold tracking-widest text-white uppercase md:mb-6 md:text-xs"
              >
                About
              </h4>
              <ul class="space-y-3 text-sm text-white/60 md:space-y-4 md:text-white/90">
                <li>
                  <a href="#" class="inline-block transition-transform hover:translate-x-1"
                    >Story</a
                  >
                </li>
                <li class="hidden md:block">
                  <a href="#" class="inline-block transition-transform hover:translate-x-1"
                    >Traceability</a
                  >
                </li>
                <li>
                  <a href="#" class="inline-block transition-transform hover:translate-x-1"
                    >Journal</a
                  >
                </li>
                <li class="hidden md:block">
                  <a href="#" class="inline-block transition-transform hover:translate-x-1"
                    >Sustainability</a
                  >
                </li>
              </ul>
            </div>

            <div class="col-span-2 mt-4 md:col-span-1 md:mt-0">
              <h4
                class="mb-4 text-[10px] font-bold tracking-widest text-white uppercase md:mb-6 md:text-xs"
              >
                Stay Rooted
              </h4>
              <p class="mb-4 hidden text-sm text-white/60 md:block">
                Join our newsletter for seasonal harvest updates.
              </p>
              <div class="flex max-w-sm md:max-w-none">
                <input
                  type="email"
                  placeholder="Email address"
                  class="w-full rounded-l-lg border border-white/20 bg-white/10 px-4 py-2 text-sm transition-colors focus:border-[#8C5E3C] focus:outline-none"
                />
                <button
                  class="rounded-r-lg bg-[#8C5E3C] px-4 py-2 text-sm font-bold text-white transition-all hover:brightness-110"
                >
                  Join
                </button>
              </div>
            </div>
          </div>

          <div
            class="flex flex-col items-center justify-between gap-4 border-t border-white/10 pt-8 text-[10px] text-white/40 md:flex-row md:text-xs"
          >
            <p>
              © 2026 ROOT Concept Store.
              <span class="hidden md:inline">All rights reserved.</span>
            </p>
            <div class="flex gap-6 md:gap-8">
              <a href="#" class="transition-colors hover:text-white">Privacy Policy</a>
              <a href="#" class="transition-colors hover:text-white">Terms of Service</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
